html,
body {
  height: 100%;
  margin: 0;
}

.cke_top {
  background: #444 !important;
}

.cke_chrome {
  border: none !important;
}

.cke_toolgroup {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}
