html,
body {
  height: 100%;
  margin: 0;
}

.cke_top {
  background: #444 !important;
}

.cke_chrome {
  border: none !important;
}

.cke_toolgroup {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.gjs-blocks-c .gjs-block__media svg,
.gjs-blocks-c .gjs-block__media img {
  display: block;
  max-width: 60%;
  max-height: 60%;
  margin: 0 auto;
}

.gjs-blocks-c .gjs-block__media {
  background-size: 60% !important;
}
